.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25vh;
  input,
  select {
    width: 100%;
    height: 6vh;
    border-radius: 6px;
    border-width: 0.8px;
    padding: 5px;
    font-size: 15px;
    color: var(--text-color);
    border: 1px solid #d1d5db;
    &:hover {
      border: 0.8px solid var(--first-color);
    }
    &:focus {
      box-shadow: 0px 0px 2px 3px var(--border-select);
    }
    &:focus-visible {
      outline: none;
      border-color: var(--text-color);
      border-width: 0.8px;
    }
  }
}

label {
  font-weight: 700;
  font-size: 14px;
  color: #374151;
}

.firstInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
  height: 22vh;
}

.inputName {
  width: 45%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.inputEmpresa {
  width: 24%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.inputPrestacao {
  width: 27%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.inputDescricao {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.separatorLine {
  width: 0.1vw;
  height: 23vh;
  background-color: var(--border-select);
}

.secondInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  height: 23vh;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputIcon,
.inputIconDespesa,
.inputIconControle {
  position: absolute;
  background: var(--first-color);
  right: 0;
  width: 48px;
  height: 6vh;
  text-align: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6.06px;
  padding: 13.08px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
}

.inputDate {
  width: 20%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
  input[type='date'] {
    text-transform: uppercase;
  }
}

.selectDespesa {
  width: 25%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.selectControl {
  width: 50%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.inputOrd,
.inputPep,
.inputDiv,
.inputMoeda {
  width: 8%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.inputMoeda > input {
  text-transform: uppercase;
}

.inputDist,
.inputValorKm,
.inputTaxa,
.inputFaturado {
  width: 11%;
  height: 9vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 14px;
  width: 18%;
}

.iconButton {
  font-size: 18px;
}

.buttonSave {
  display: flex;
  align-items: center;
  background-color: #1e3a8a;
  color: #ffffff;
  justify-content: space-evenly;
  width: 55%;
  height: 6vh;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #1a2e66;
  }
}

.buttonClean {
  background-color: var(--second-color);
  width: 30%;
  height: 6vh;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  
  &:hover {
    background-color: #0e8074;
  }
}

@media (max-width: 1024px) {
 // Form container responsivo
.formContainer {
  flex-direction: column;
  height: 60vh;
  gap: 10px;
}
  .firstInputs {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    gap: 5px;
  }

  .secondInputs {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    gap: 5px;
  }

  .separatorLine {
     display: none;
  }

  .inputName, .inputEmpresa,
  .inputDate, .selectDespesa
   {
    width: 47%;
    height: 8vh;
  }
  .inputPrestacao {
    width: 20%;
    height: 8vh;
  }

  .inputDescricao, .selectControl {
    width: 77%;
    height: 8vh;
  }

  .inputOrd, .inputPep, .inputDiv, .inputMoeda,
  .inputDist, .inputValorKm, .inputTaxa, .inputFaturado {
    width: 25%;
    height: 7.7vh;
  }
 
  .buttonContainer {
    width: 45%;
  }

  .buttonSave {
    width: 35%;
    height: 5.2vh;
  }

  .buttonClean {
    width: 25%;
    height: 5.2vh;
  }
}

// Telas até 768px
@media (max-width: 768px) {
  .formContainer {
    height: auto;
  }

  .inputName, .inputEmpresa {
    width: 45%;
  }
  .inputPrestacao, .inputDate, .inputOrd, .inputPep, .inputDiv, .inputDist, .inputMoeda, .inputValorKm, .inputTaxa, .inputFaturado {
    width: 27%;
  }
.inputDescricao, .selectControl {
    width: 70%;
  }
  
  .buttonContainer {
    width: 60%;
    align-items: center;
  }

  .buttonSave, .buttonClean {
    width: 25%;
  }
}

// Telas até 480px
@media (max-width: 480px) {

  label {
    font-size: 12px;
  }

  input, select {
    font-size: 14px;
  }

  .inputName, .inputEmpresa, .inputDescricao, .selectControl, .selectDespesa, .inputPrestacao, .inputDate {
    width: 100%;
  }
  
   .inputOrd, .inputPep, .inputDiv, .inputDist, .inputMoeda, .inputValorKm, .inputTaxa, .inputFaturado {
    width: 30%;
  }
  
  .buttonContainer {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .iconButton {
    font-size: 16px;
  }

  .buttonSave, .buttonClean {
    font-size: 14px;
    width: 40%;
    height: 6vh;
  }
}
