.RequestContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6px 4px 3px 2px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-left: 5.5%;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.navarea {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--fourth-color);
  gap: 5px;
}

.linkIcon {
  font-size: 15px;
  margin-top: 4px;
}

.link,
.linkIcon {
  text-decoration: none;
  color: var(--border-color);
  &:hover {
    text-decoration: underline;
  }
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 16vh;
}

.inputFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.labelTotal {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0.35rem;
}

.inputTotal {
  width: 20%;
  input {
    width: 100%;
    height: 6vh;
    border-radius: 6px;
    border-width: 0.8px;
    padding: 12px 13px;
    font-size: 14px;
    border: 1px solid #d1d5db;
    &:hover {
      border: 0.8px solid var(--first-color);
    }
    &:focus {
      box-shadow: 0px 0px 2px 4px var(--border-select);
    }
    &:focus-visible {
      outline: none;
      border-color: var(--text-color);
      border-width: 0.8px;
    }
  }
}

.areabtn {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.sendButton,
.cancelButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 47%;
  height: 6.5vh;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.iconButton {
  font-size: 24px;
}

.sendButton {
  background-color: var(--first-color);
}

.cancelButton {
  background-color: var(--error-color);
  &:hover {
    background-color: #cc1f1a; 
  }
}

@media (max-width: 1024px) {
  .RequestContainer {
    margin-left: 9%;
  }
  .content {
   height: 90vh;
  }
  .inputFooter {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .RequestContainer {
    margin-left: 11%;
  }
}

@media (max-width: 468px) {
  .content {
   height: auto;
  }
  .RequestContainer {
    margin-left: 16%;
  }
  .footerContainer{
    justify-content: center;
    margin-top: 1rem;
    height: 40vh;
  }
      .inputTotal {
        width: 40%;
    }
  .areabtn {
    width: 100%;
    .sendButton,
.cancelButton {
  width: 45%;
}
  }
}