.areaPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(173deg, #0c7872, #2a3617d1, #092809);
  height: 100vh;
  @media (min-width: 770px) {
    height: 100vh;
  }
}

.btnLogoutProfile {
  width: 100%;
  height: 5vh;
}
.logoutBtnProfile {
  width: 5%;
  height: 6vh;
  font-size: 2rem;
  border-radius: 6px;
  background: #065870;
}

.perfilText {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 95%;
  height: 15vh;
  color: var(--text-color);
  h1 {
    width: 80%;
    font-size: 1.4rem;
    font-weight: 700;
  }
  @media (max-width: 510px) {
    margin-left: 3rem;
  }
}

.perfilSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75vh;
  @media (max-width: 510px) {
    margin-left: 2rem;
    padding: 0px 1rem;
  }
}

figure {
  display: flex;
  text-align: center;
  border: 1px solid #0e7445;
  border-radius: 75%;
  width: 50%;
  box-shadow: 0px 0px 10px 5px #323131a6;

  img {
    width: 100%;
    border-radius: 75%;
  }
}

.linksNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.linkButtonInsta,
.linkButtonLinke,
.linkButtonGithu {
  color: #fff;
  padding: 1rem;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 20rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 0;
}

.linkButtonInsta::before,
.linkButtonLinke::before,
.linkButtonGithu::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #444343, #3e0c4ed9);
  border-radius: 0.8rem;
  opacity: 1;
  transition: 0.6s linear;
  z-index: -1;
}

.linkButtonInsta:hover::before,
.linkButtonLinke:hover::before,
.linkButtonGithu:hover::before {
  opacity: 0;
}

.linkButtonInsta::after,
.linkButtonLinke::after,
.linkButtonGithu::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  opacity: 0;
  transition: 0.6s linear;
  z-index: -1;
}

.linkButtonInsta:hover::after,
.linkButtonLinke:hover::after,
.linkButtonGithu:hover::after {
  opacity: 1;
}

.linkButtonInsta::after {
  background-image: linear-gradient(44deg, #5e025e, #8f1664, #cf0c0c, #c9c904);
}

.linkButtonLinke::after {
  background-image: linear-gradient(46deg, #092268f7, #065870, #4081b9);
}

.linkButtonGithu::after {
  background-image: linear-gradient(46deg, #420546, #720e8b, #081c66);
}
