.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100vh;
  margin-left: 4.3rem;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.navarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9%;
  font-size: 0.875rem;
  color: var(--fourth-color);
}

.linkIcon {
  font-size: 15px;
  margin-top: 4px;
}

.link,
.linkIcon {
  text-decoration: none;
  color: var(--border-color);
  &:hover {
    text-decoration: underline;
  }
}

.refoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 78%;
  height: 70vh;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
}

.subtitle {
  font-weight: 400;
  font-size: 1rem;
}

.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .card {
    width: 30%;
    height: 33vh;
    border-radius: 6px;
    border: 0.8px solid var(--border-select);
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--border-off);
      border-right: 3px solid var(--border-select);
      border-bottom: 3px solid var(--border-select);
    }

    .cardIcon {
      font-size: 32px;
      width: 30%;
      height: 7vh;
      margin-bottom: 16px;
      color: var(--text-color);
    }
    h2 {
      font-weight: 700;
      font-size: 1.3rem;
      color: var(--text-color);
    }
  }
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  border-radius: 6px;
  border: 0.8px solid #cbd4e1;
  padding: 20px;

  .infoItem {
    display: flex;
    align-items: center;
    width: 20%;
    height: 5vh;
    justify-content: space-evenly;
    color: var(--text-color);
    font-size: 16px;
    .infoIcon {
      width: 25%;
      height: 6vh;
      border-radius: 6px;
      text-align: center;
      margin-right: 8px;
      padding: 6px;
      color: var(--border-off);
    }

    .iconSolic {
      background-color: var(--second-color);
    }

    .iconAnalit {
      background-color: var(--analise-color);
    }

    .iconAprove {
      background-color: var(--sucess-color);
    }

    .iconReject {
      background-color: var(--error-color);
    }
  }
}

.updateText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17%;
  flex-direction: row;
  font-weight: 400;
  font-size: 1rem;
  color: var(--third-color);
}
