.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(58, 100, 160, 0.353), rgba(68, 95, 168, 0.26)), url('../../assets/wsbackground.png') center/cover no-repeat;
}

.createArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    width: 40vw;
    overflow: hidden;
    transition: min-height 0.9s ease;
    border-radius: 20px;
    background-color: #d2d8d7;
     &.open {
        height: auto;
        min-height: 90vh;
        justify-content: space-between;
    }
     @media (max-width: 1024px) {
    width: 60vw;
  }

  @media (max-width: 768px) {
    width: 85vw;
  }

  @media (max-width: 480px) {
    width: 95vw;
  }
}

.createLogo {
    width: 100%;
    height: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(113deg, #00beddb8 5.2%, #005fddd9 18.1%, #0844c4f5 36.7%, #0844c4f5 64.7%, #005fddd9 84.4%, #00bedde8 96.1%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     h1 {
    color: #080a2f;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}
p {
    color: #bbd8dc;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
}
 @media (max-width: 480px) {
    h1 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

.formCreate {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 62vh;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    opacity: 0;
    transition: all 0.9s ease-in-out;
  
  &.open{
        display: flex;
        opacity: 1;
        overflow-y: auto;
    }

   label{
   width: 75%;
   font-size: 0.9rem;
   margin-top: 8px;
   }
}

.formCreate .inputGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5vh;
    width: 75%;
    background-color: transparent;
    border-bottom: solid 2px var(--fourth-color);
    &:focus-within {
        border-bottom: solid 3px var(--text-color);
    }
    .inputIcon {
        color: var(--fourth-color);
        width: 15%;
        text-align: center;
        margin-top: 3px;
        font-size: 1.2rem;
    }
    .inputCreate {
        width: 85%;
        height: 30px;
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 0;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 600;
        &::placeholder {
            color: var(--fourth-color);
        }
        &:focus {
            outline: none;
        }
    }
}


.buttonsCreate {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    margin-top: 1rem;
    height: 7vh;
    width: 100%;
    button {
     height: 100%;
     width: 35%;
     text-align: center;
     border-radius: 8px;
     color: var(--border-select);
     font-size: 0.9rem;
     font-weight: 600;
    }
    button:nth-child(1) {
        background-color: #244070;
        &:hover {
            background-color: var(--first-color);
            color: var(--border-off);
        }
    }
    button:nth-child(2) {
        background-color: #d31139;
        &:hover {
            background-color: var(--error-color);
            color: var(--border-off);
        }
    }
    @media (max-width: 480px) {
    flex-direction: column;
    gap: 10px;
    height: auto;

    button {
      width: 80%;
      height: 45px;
    }
  }
}

.createFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    width: 100%;
    background-image: linear-gradient(114deg, #00beddb8 2.2%, #005fddd9 10.1%, #0844c4f5 26.7%, #0844c4f5 65.7%, #005fddd9 80.4%, #00bedde8 91.1%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    p {
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
    .linkBack {
    font-size: 1rem;
    color: #bbd8dc;
    &:hover {
        color: #080a2f;
        text-decoration: underline;
    }
   }
 }
 @media (max-width: 480px) {
    p {
      font-size: 0.9rem;

      .linkBack {
        font-size: 0.85rem;
      }
    }
  }
}