.sidebar {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position: fixed;
  height: 100vh;
  padding: 0 8px;
  width: 5%;
  transition: 1.2s all ease;

  &:hover {
    width: 13%;
    background: var(--background-color);
    box-shadow: 2px 0px 10px 1px #c9c5c5;
  }

  .perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    h2 {
      color: var(--text-color);
      font-size: 16px;
      opacity: 0;
      width: 120px;
      transition: opacity 0.8s ease;
    }
    p {
      font-size: 14px;
      color: var(--third-color);
      opacity: 0;
      width: 120px;
      transition: opacity 0.8s ease;
    }
  }

  &:hover .perfil {
    h2,
    p {
      opacity: 1;
    }
  }

  .profileImg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
  }

  .iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 33vh;
  }

  .buttonOption,
  .logoutBtn {
    display: flex;
    align-items: center;
    color: black;
    gap: 16px;
    background: none;
    width: 100%;

    .nameOption {
      opacity: 0;
      font-size: 16px;
      color: var(--text-color);
      transition: opacity 0.4s ease;
    }

    .icon {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      padding: 8px;
      text-align: center;
      color: #fff;
      background-color: var(--third-color);
      font-size: 24px;

      &:hover {
        background-color: var(--second-hover);
      }
    }
  }

 &:hover .buttonOption .nameOption, 
  &:hover .logoutBtn .nameOption {
    opacity: 1;
  }

  .logoutBtn {
    display: flex;
    align-items: center;
    color: black;
    background: none;

    .iconLogout {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      padding: 8px;
      text-align: center;
      color: #fff;
      background-color: var(--fourth-color);

      &:hover {
        background-color: var(--text-color);
      }
    }
  }
}
